html {
    font-family: "Helvetica Neue";
}

h2 {
    text-decoration: underline;
}

h2, p, ul {
    margin: 0px;
}

th {
    text-align: left;
    background-color: lightgrey;
}

ul {
    margin-bottom: 25px;
}